/* Import Poppins Font */
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




/* Import Halant Font */
@font-face {
font-family: 'Halant';
src: url('./fonts/Halant/Halant-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --pickled-bluewood: #2D394B;
    --jordy-blue: #9CC9F5;
    --regent-gray: #8A94A4;
    --white: #ffffff;
    --japanese-Laurel: #00A3FF;
    --green: #31AF36;
    --spindle: #B3C8E7;
    --malachite: #FFCC33;
    --black: #101010;
    --silver: #B8B8B8;
    --boulder: #757575;
    --gull-gray: #99a6b960;
    --cerulean: #00A0F0;
    --dove-gray: #b8b8b8;
}



html{
    background-color: var(--black);
}

body {
    font-family: 'Halant', serif; /* Use Poppins font for the body */
    color: var(--dove-gray);
    font-size: clamp(1rem, 1.125rem, 1.25rem);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
    color: var(--white);
}

h1 {
    font-size: clamp(3rem, 5rem, 8rem);
    font-weight: 900;
    font-style: normal;
}


h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 1.25rem;
    background-image: url('./img/leave.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 5rem;
}

h3 {
    font-size: 1.175rem;
}

p{
    max-width: 720px;
    width: 100%;
}



.section{
    max-width: 1440px;
    width: 100%;
    padding: 100px 0;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 32px;
    
}

.wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.title-center {
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.hide {
    display: none;
}


.row{
    display: flex;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.text{
    color: white;
}

.space-between {
    justify-content: space-between;
}

.btn {
    display: flex;
    width: fit-content;
    padding: 8px 16px;
    background-color: var(--malachite);
    color: var(--black);
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    font-weight: 900;
    border-radius: 4px;
    border: 1px solid var(--malachite);
}

.btn:hover,
.btn:focus {
    background-color: var(--silver);
    color: var(--white);
    border-color: var(--silver);
}
    
ul{
    list-style: none;
}





/* header style */
header {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s ease;
    padding: 16px 0;
}

header.scrolled {
    background-color: black;
}

header .container {
    align-items: center;
}

header #logo{
    margin-right: 2rem;
    display: flex;
    align-items: center;
}
header #openmenu, .closemenu {
    height: fit-content;
    display: none;
}
header #openmenu i{
    color: var(--white);
    font-size: 30px;
}
header #openmenu i:hover{
    color: var(--malachite);
}

header ul{
    align-items: center;
    font-size: clamp(0.75rem, 4vw, 1.5rem );
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    width: 100%;
}

header ul li{
    color: var(--white);
    transition: all .3s ease-in-out;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 18px;
    margin-left: 50px ;
}

header ul li:hover{
    color: var(--malachite);
}

footer#footer{
    background-color: var(--black);
    padding: 1.5rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem

}

footer#footer a{
    color: var(--white);
    transition: all .3s ease-in-out;
    text-decoration: none;
    
}
footer#footer a:hover{
    color: var(--malachite);
}

.logo {
height: 3rem;
width: auto;
}
.active {
    color: var(--malachite); /* Change this to your desired active color */
  }

/* WELCOME BADGE STYLE */

#welcome-badge{
    position: fixed;
    bottom: 0;
    right: 16px;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 281px;
    max-height:128px;
    width: 100%;
    height: 100%;

}
#welcome-badge #box{
    width: 100%;
    height: 100%;
}
#welcome-badge .image-container{
    background-image: url(./img/Welcome-badge.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}

#welcome-badge .badgeClose{
    font-family: 'poppins';
    position: absolute;
    top: -25px;
    right: 8px;
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
    border-radius: 50px;
    width: 20px;
    height: 20px;
    display: flex;
    place-content: center;
    
}

#welcome-badge .badgeClose p{
    font-size: 16px;
    text-align: center;
    line-height: 20px;
}

/* Home */

/* HERO SECTION */
#home{
    background-image: url(./img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    -webkit-box-pack: center;
    min-height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#home .content{
    max-width: 590px;
    width: 100%;
    color: var(--white);
}

#home .content > *:not(:last-child){
    margin-bottom: 30px;
}

/* SPECIAL DISH SECTION */
#special-dishes{
    background-color: var(--black);
}

#special-dishes p {
    color: var(--dove-gray);
}

/* SPECIAL DISH carousel */
#special-dishes div.owl-carousel{
    overflow-x: hidden;
    transition: transform 0.5s ease-in-out; /* Add smooth transition */
    /* scroll-snap-type: x mandatory;  */

}

#special-dishes div.owl-carousel .item{
    display: block;
    flex-direction: column;
    width: calc(100% / 4 - 20px);
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;    
    text-align: center;
    transition: transform 0.5s ease;

}

#special-dishes div.owl-carousel .item img{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    -o-object-position: center;
    margin-bottom: 30px;
}


#special-dishes .special-dish-content *:not(:last-child){
    margin-bottom: 20px;
}

#special-dishes div.owl-carousel .item:not(:last-child){
    margin-right: 20px;
}

#special-dishes .special-dish-content p.price{
    color: var(--malachite);
    font-family: 'poppins';
    font-weight: 900;
    margin-bottom: 20px;
}




/* ABOUT PAGE */

#about-us{
    background-image: url(./img/about-bg.jpeg);
    background-color: var(--black);
    /* color: var(--white); */
    background-repeat: repeat;
    padding-top: 8em;
    
}



#about-us .about-img{
    width: 40%;
    position: relative;
}

#about-us .about-img img{
    width: 100%;
    /* height: auto; */
    aspect-ratio: 3/4;
}

#about-us .playBtn{
    background-color: var(--malachite);
    color: var(--black);
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    border-radius: 900px;

}

#about-us .playBtn:hover{
    background-color: var(--silver);
    color: var(--white);
}

#about-us .about-content{
    width: 60%;
    padding-left: 50px;
}



.wrapper.row.space-between .about-content h2{
    padding-left: 90px;
}

#about-us .about-content > p{
    margin-bottom: 20px;
}

#about-us .about-content .advantage{
    margin-top: 50px;
}
#about-us .about-content .advantage div{
    width: 33%;
    padding: 10px;
    text-align: center;
}
#about-us .about-content .advantage i{
    font-size: 64px;
    margin-bottom: 30px;
    color: var(--malachite);
}


/* OFFER */

#offer {
    background-image: url(./img/bg-offer2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    -webkit-box-pack: center;


}

#offer .content {
    color: var(--white);
    max-width: 590px;
    width: 100%;
}

#offer h2{
    background-image: none;
    padding-bottom: 0;
}

/* Menu Section */

#menu{
    background-image: url(./img/about-bg.jpeg);
    /* background-color: var(--black); */
    /* color: var(--white); */
    background-repeat: repeat;
    padding-top: 8em;
}

#menu .wrap-menu {
    justify-content: center;
    position: sticky;
    top: 6.6875rem;
    z-index: 8;
    background-color: black;
}

#menu .list-menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#menu .wrap-menu li{
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 0px;
    transition: all .3s ease-in-out;
    border: 1px solid var(--malachite);
    display: inline-block;
    margin: 0.625rem;
    font-family: 'Poppins';
    font-weight: 500;
    color: var(--white);
    
}

#menu .wrap-menu li:hover{
    background-color: #FFCC3390;
    color: var(--black);
}

#menu .wrap-menu li.active{
    background-color: #FFCC3380;
    color: var(--black);
    
}

#menu .menu-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 3.125rem !important;

}

#menu .menu-items .item{
    display: block;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 100%;
    text-decoration: none;
    color: var(--silver);
    
    cursor: pointer;
}

#menu .menu-items .item:hover img{
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
    transition: all .3s ease-in-out;
}
#menu .menu-items .item img{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    -o-object-position: center;
    margin-bottom: 30px;
}
#menu .menu-items .item h3{
    margin-bottom: 1.25rem;
}

#menu .menu-items .item p{
    margin-bottom: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 1.25rem;
}

#menu .menu-items .item footer.price{
    margin-top: auto;
    color: var(--malachite);
    font-family: 'poppins';
    font-weight: 900;
    margin-bottom: 1.25rem;
    
}

/* CONTACT PAGE */

#contact{
    background-image: url(./img/about-bg.jpeg);
    /* background-color: var(--black); */
    /* color: var(--white); */
    background-repeat: repeat;
    padding-top: 8em;
}

#contact .wrapp-booking-form{
    justify-content: space-between;
    align-items: center;
}

#contact .booking-form{
    width: 60%;
    padding-right: 3.125rem;
}

#contact .booking-form .wrapp-input-group{
    justify-content: space-between;
}

#contact .booking-form .wrapp-input-group > div{
    width: 48%;
    margin-bottom: 1.25rem;
}
#contact .booking-form .wrapp-input-group > .btn{
    width: fit-content;
}

#contact .booking-form .wrapp-input-group label{
    
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.625rem;
    margin-bottom: 0.625rem;
    font-family: "Poppins";
    font-weight: 700;
    display: block;
    color: var(--malachite);

}

#contact .booking-form .wrapp-input-group div input{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    height: 3.75rem;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #000;
    color: var(--white);
    line-height: 3.75;
    text-align: left;
}

#contact .booking-form .wrapp-input-group div select {
    appearance: none;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    height: 3.75rem;
    border: 1px solid #000;
    border-radius: 3px;
    color: var(--silver);
    background-color: #000;
}

#contact .booking-form .wrapp-input-group div select:hover,
#contact .booking-form .wrapp-input-group div select:focus{
    border-color: var(--malachite);
}

#contact .booking-form .wrapp-input-group div input:hover,input:focus, input:focus-visible{
    /* outline: 1px solid var(--malachite); */
    border-color:var(--malachite);

}
#contact .booking-form .wrapp-input-group div input:focus, input:focus-visible{
    /* outline: 1px solid var(--malachite); */
    border-color:var(--malachite);

}


#contact .working-hours{
    width: 40%;
    padding: 1.875rem;
    background: #000;
}

#contact .working-hours h3{
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
}

#contact .working-hours .table-hour{
    color: var(--white);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 40px 0px;
    border-bottom: 1px solid #b8b8b8;
  
}
#contact .working-hours .table-hour p{
    width: fit-content;
}

#contactlinks{
    background-color: var(--black);
    
}

#contactlinks .wrapp-contacts div{
    width: 25%;
    padding: 1.875rem;
}

#contactlinks .wrapp-contacts div p{
    color: var(--white);
    margin-bottom: 1.25rem;
    text-align: center;
}

#contactlinks .wrapp-contacts div h3{
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 1.25rem;
    text-align: center;
}

#contactlinks .wrapp-contacts div h3 i{
    color: var(--malachite);
    font-size: 1.25rem;
    margin-right: 0.625rem;
}

#contactlinks .wrapp-contacts div a{
    display: block;
    color: var(--malachite);
    text-decoration: none;
    transition: all .3s ease-in-out;
    font-family: "Poppins";
    font-size: 1rem;
    text-align: center;
}

#contactlinks .wrapp-contacts .socialtel{
    font-size: 1.25rem;
    text-align: center;
    

}

#contactlinks .wrapp-contacts .socials{
    font-size: 1.25rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#contactlinks .wrapp-contacts .socials a{
    display: inline-block;
}
#contactlinks .wrapp-contacts .socials i{
    color: var(--malachite);
    margin-right: 1.875rem;
}
@media screen and (max-width: 992px) {
    h1{
        text-align: center;
    }
    
    h2{
        font-size: 2.5rem;
    }

    
    .section{
       
        padding: 4rem 0;
        
    }
    
    .container {
       
        padding: 0 1rem;
        
    }
    
    /* HOME */

    #home .content {
        max-width: 100%;
        text-align: center;
    }

    #home .content .btn {
        margin-left: auto;
        margin-right: auto;
    }
    
    header .nav{
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: var(--black);
        top: 0;
        left: -320px;
        width: 320px;
        height: 100vh;
        height: 100dvh;
        z-index: 10;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
        padding: 30px;

    }
    header .nav #navList{
        display: flex;
        flex-direction: column;
        
    }

    header #openmenu, .closemenu {
        height: fit-content;
        display: block;
        color: var(--white);
        text-decoration: none;
    }

    .closemenu:hover{
        color: var(--malachite);
    }
    .closemenu i {
        font-size: 30px;
        display: block;
        padding: 0.5rem;
        text-align: end;
    }

    header ul{
        align-items: start;
        font-size: clamp(0.75rem, 4vw, 1.5rem );
        padding-top: 1rem;
        padding-bottom: 1rem;
        justify-content: space-between;
        width: 100%;
    }
    
    header ul li{
        width: 100%;
        margin-left: 0 ;
        margin-bottom: 1.25rem;
    }

    /* SPECIAL DISH SECTION */
    #special-dishes div.owl-carousel .item{
        width: calc(100% / 2 - 12px);
    }

    /* ABOUT PAGE */

    #about-us .wrapper.row{
        flex-direction: column;
    }

    #about-us .about-img {
        width: 100%;
        order: 2;
    }
    #about-us .about-content {
        width: 100%;
        padding-top: 1.875rem;
        padding-left: 0;
        order: 1;
    }

    /* Menu page */

    #menu .wrap-menu {
        justify-content: center;
        top: 5rem;
      
    }

    #menu .list-menu {
        justify-content: start;
    }

    #menu .wrap-menu li {
        font-size: 0.875rem;
        padding: 0.375rem 1.25rem;
        margin: 0.5rem;
    }

    #menu .menu-items {
        
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        padding: 1rem;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }

    /* contact */

    #contact .booking-form{
        width: 100%;
        margin-bottom: 1.875rem;
    }

    #contact .working-hours{
        width: 100%;
      
    }

    #contactlinks .wrapp-contacts div{
        width: 50%;
        padding: 1.875rem;
    }

    #contactlinks .wrapp-contacts div a{
        text-align: left;
    }
    #contactlinks .wrapp-contacts div h3{
        text-align: left;
    }
    #contactlinks .wrapp-contacts div p{
        text-align: left;
    }
    #contactlinks .wrapp-contacts .socialtel {
        font-size: 1.25rem;
        text-align: left;
    }
    #contactlinks .wrapp-contacts .socials {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 600px) {
    h1{
        font-size: clamp(1rem, 3.123rem, 50px);
    }
    h2{
        font-size: 1.875rem;
    }
    
   

    /* SPECIAL DISH SECTION */
    #special-dishes div.owl-carousel .item{
        width: calc(100% / 1 - 10px);
    }

    /* Menu page */
    #menu .menu-items {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }

    #menu .wrap-menu li {
        font-size: 0.875rem;
        padding: 0.375rem 0.875rem;
    }

    /* contact */

    #contact .booking-form{
        width: 100%;
        padding: 0;
    }
    #contact .booking-form .wrapp-input-group > div {
        width: 100%;
    
    }

    #contact .working-hours{
        width: 100%;
        padding: 0;
    }

    #contactlinks .wrapp-contacts div{
        width: 100%;
        padding: 1.5rem 0.625rem;
        text-align: left;
    }

    #contactlinks .wrapp-contacts div h3{
        text-align: left;
    }
    #contactlinks .wrapp-contacts div p{
        text-align: left;
    }
    #contactlinks .wrapp-contacts .socialtel {
        font-size: 1.25rem;
        text-align: left;
    }
    #contactlinks .wrapp-contacts .socials {
        justify-content: flex-start;
    }
}